.mt-13 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.page {
  width: 400px;
  height: 800px;
  border: 1px solid #818182;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  padding: 1.13rem 0 0.81rem;
  height: 1.2rem;
}

.text {
  margin-left: 1.13rem;
  color: #818182;
  font-size: 1.25rem;
  font-family: SourceHanSansCN;
  line-height: 1.16rem;
}

.image {
  width: 100vw;
  height: 11vw;
}

.group {
  padding-bottom: 21.38rem;
  overflow-y: auto;
}

.list-item {
  padding: 0 1.25rem 0.5rem;
  border-bottom: solid 0.063rem #0000000f;
}

.font {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.79rem;
  color: #818182;
}

.progress-bar {
  background-color: #78788033;
  border-radius: 0.19rem;
  width: 13.44rem;
  height: 0.38rem;
  cursor: pointer;
}

.progress-track {
  background-color: #1890ff;
  border-radius: 0.19rem;
  width: 6.25rem;
  height: 0.38rem;
  position: relative;
}

.progress-indicator {
  width: 0.38rem;
  height: 0.38rem;
  background-color: #1890ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.image_2 {
  margin-right: 0.63rem;
  border-radius: 1.56rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.image_3 {
  margin-right: 0.5rem;
}

.list-item_2 {
  padding: 0.75rem 1.25rem 0.5rem;
  border-bottom: solid 0.063rem #0000000f;
}

.text_2 {
  line-height: 0.8rem;
}

.text_3 {
  line-height: 0.71rem;
}

.search-form input[type="text"] {
  border-radius: 20px;
  height: 30px;
  width: 325px;
  border: 1px solid #818182;
  padding-right: 30px;
  padding-left: 20px;
}

.search-icon {
  position: absolute;
  top: 5px;
  right: 12px;
  padding: 0px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.search-form {
  position: relative;
  width: 330px;
}